build
libphp-extension/build
libphp-extension/autom4te.cache
libphp-extension/config.h.in
libphp-extension/config.h.in~
libphp-extension/aikido_arginfo.h
libphp-extension/config.nice
libphp-extension/config.status
libphp-extension/configure~
libphp-extension/configure
libphp-extension/configure.ac
libphp-extension/run-tests.php
*.sqlite
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
*aikido_agent
*.pb.go
*.pb.go
*go.sum
*.log
*.nice
aikido-*-extension-php-*.so
.vscode/settings.json
libphp-extension/ndDb2pJ5Px
*.deb
package/deb/opt/aikido/aikido-2.0.1*
lib/agent/aikido_config.json
