build
src/extension/build
src/extension/autom4te.cache
src/extension/config.h.in
src/extension/config.h.in~
src/extension/aikido_arginfo.h
src/extension/config.nice
src/extension/config.status
src/extension/configure~
src/extension/configure
src/extension/configure.ac
src/extension/run-tests.php
*.sqlite
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
*aikido_agent
*.pb.go
*.pb.go
*go.sum
*.log
*.nice
aikido-*-extension-php-*.so
.vscode/settings.json
src/extension/ndDb2pJ5Px
*.deb
package/deb/opt/aikido/aikido-2.0.0*
src/agent/aikido_config.json
