build
lib/extension/build
lib/extension/autom4te.cache
lib/extension/config.h.in
lib/extension/config.h.in~
lib/extension/aikido_arginfo.h
lib/extension/config.nice
lib/extension/config.status
lib/extension/configure~
lib/extension/configure
lib/extension/configure.ac
lib/extension/run-tests.php
*.sqlite
tests/*.diff
tests/*.exp
tests/*.log
tests/*.out
tests/*.php
tests/*.sh
*aikido_agent
*.pb.go
*.pb.go
*go.sum
*.log
*.nice
aikido-*-extension-php-*.so
.vscode/settings.json
lib/extension/ndDb2pJ5Px
*.deb
package/deb/opt/aikido/aikido-2.0.0*
lib/agent/aikido_config.json
