commands:
  aikido-php-firewall:
    command: "rpm -Uvh https://aikido-firewall.s3.eu-west-1.amazonaws.com/v1.0.63/linux_x86_64/aikido-php-firewall-1.0.63-1.x86_64.rpm"
    ignoreErrors: true

files: 
  "/opt/elasticbeanstalk/tasks/bundlelogs.d/aikido-php-firewall.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/aikido-*/*.log

  "/opt/elasticbeanstalk/tasks/taillogs.d/aikido-php-firewall.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      /var/log/aikido-*/*.log